.galeria img{
    box-shadow: 0 8px 10px -4px rgba(0,0,0,.6) ;
    border-radius: 15px;
}
.material-placeholder{
    margin-bottom: 10px;
}
.container{
    /* height: 100%; */
    min-height: calc(100vh - 890px - 70px);
}
/* .responsive-img.materialboxed{
height: 211px;
width: 213px;
} */
.nav-wrapper{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
/* .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #0F2027;  
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    height: 60px;
} */
/* @media(max-width:768px){
    footer{
        font-size: 10px;
    }
    
} */

@media(min-width:768px){
    .responsive-img.materialboxed{
        height: 211px;
        width: 213px;
    }
}

.page-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #0F2027;  
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    text-align: center;
}
#text-footer{
    width: 100%;
    margin: auto;
}