body{
    font-family: 'Open Sans', sans-serif;
}
/* .navbar.navbar-expand-lg.navbar-light.bg-light{
     animation: moverIzquierda 1s ease-in; 
} */

header{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
    /* padding: 48px; */
     width: 100%; 
}

.container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
   
}
img{
    display: block;
    height: 350px;
    object-fit: cover;
    width: auto;
    animation: arriba 1s ease-in;
    border-radius: 50%;
    margin-top: 2px;

}

.textos{
    width: 50%;
    color: #fff;
}

.textos h1{
    font-size: 80px;
    animation: moverDerecha 1s ease-in;

}
.textos h2{
    font-size: 30px;
    animation: moverIzquierda 1s ease-in;

}

.textos a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    animation: arriba 1s ease-in;


}

.wave{
    height: 100px;
    width: 100%;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes arriba{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
@media (max-width:768px){
    img{
        height: 200px;
    }
    .textos{
        width: 100%;
        text-align: center;
    }
    .textos h1{
        font-size: 27px;
    }
    .textos h2{
        margin: auto;
        font-size: 15px;
    }
    .container{
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    /* .textos a{
        visibility: hidden;
    } */
  
}
.bio{
    /* border: 1px solid red;  */
    width: 85%;
    text-align: justify;
    padding: 10px;
    
}
.fotos{
    margin-left: 50px;
    border: 1px solid blue; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.fotos img{
    width: 95px;
    height: 50px;
}
.guitarras{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.biografia-container, .bio-pri{
    /* border: 2px solid green; */
    display: flex;
    width: 80%;
    margin: auto;
}
.line{
    border-bottom: 3px solid  #203A43;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}
.titulo{
    text-align: center;
}
/* .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #0F2027;  
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    height: 60px;
} */
.video{
    /* margin-left: 160px; */
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
.text-clase{
width: 80%;
margin: auto;
margin-top: 10px;
}
.clases{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 80%;
    margin: auto;
}
.presenciales, .online{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.presenciales img{
    height: 100px;
}
.online img{
    height: 100px;
}

@media(max-width:768px){
    .biografia{
        width: 100%;
        font-size: 10px;
    }
   
    .bio{
        border: 1px solid yellow;
        width: 100%;
    }
    .biografia-container{
        width: 100%;
        border: 1px solid blue;
    }
    .fotos{
        display: none;
    }
    .video{
        /* border: 1px solid red; */
        margin-left: 0px;
        margin: auto;
        text-align: center;
        
    }
    iframe{
        width: 100%;
        height: 180px;
    }
    .clases{
        flex-direction: column;
        /* margin-bottom: 160px; */
        /* height: 400px; */
    }
    .text-clase{
        text-align: center;
    }
    .presenciales img{
        height: 80px;
    }
    .online img{
        height: 80px;
    }
    /* footer{
        font-size: 10px;
        margin-top: 55px;
    } */
}

.galeria img{
    box-shadow: 0 8px 10px -4px rgba(0,0,0,.6) ;
    border-radius: 15px;
}
.material-placeholder{
    margin-bottom: 10px;
}
.container-fotos{
    height: 100vh;
}
.nav-wrapper{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

/* formulario */

.boton{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    margin: auto;
    width: 150px;
    height: 50px;
}
.enviar{
    display: flex;
    justify-content: center;
}


.container-contacto{
   
    /* height: 100vh; */
    min-height: calc(100vh - 855px - 70px);
    width: 80%;
    margin: auto;
}
.formulario{
   
    display: flex;
    justify-content: space-between;
    
}
form{
    width: 520px;
}
.mensaje{
    height: 307px;
}
.redes{
    display: flex;
    justify-content: space-around;
}
.icono{
    height: 80px;
    width: 80px;
}
.text-redes{
    text-align: center;
}
/* .footer-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #0F2027;  
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);  */

@media(max-width:768px){
    .formulario{
        display: flex;
        flex-direction: column;
        
    }
    form{
        width: 300px;
       
    }
    .mensaje{
        height: 200px;
    }
    .container-contacto{
        min-height: calc(100vh - 900px - 70px);
        /* height: 100vh; */
        width: 90%;
        margin: auto;
    }
    /* .footer-contacto{
        font-size: 10px;
        margin-top: 450px;
    } */
    
}




/* Material */

.container-material{
    height: 100%;
   
}
.card-content{
    height: 132px;
}

/* .footer-material{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #0F2027;  
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    height: 60px;

}
@media(min-width:768px){
    .footer-material{
        margin-top: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background: #0F2027;  
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
        height: 60px;
    }
} */

.page-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #0F2027;  
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    text-align: center;
}
#text-footer{
    width: 100%;
    margin: auto;
}
#datos{
    width: 200px;
}
